* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.loaderContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    background-color: transparent;
}

svg {
    width: 100px;
    height: 100px;
    animation: load .5s linear infinite;
}

.circle {
    fill: none;
    stroke: rgb(114, 113, 113);
    stroke-width: 4px;
    stroke-dashoffset: 400px;
    stroke-dasharray: 260;
    stroke-linecap: round;
    stroke-miterlimit: 0;
    animation: loadwidth 1s linear infinite alternate;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loadwidth {
    to {
        stroke-dasharray: 230;
    }
}